.card {
  width: 240px;
  height: 12em;

  overflow: hidden;

  border: 1px solid black;
  border-radius: 8px;

  padding: 6px;
}

.name {
  text-align: center;
}

.subtext {
  margin-left: 7px;
}

.description {
}
