.background {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(30, 30, 30, 0.4);
}

.char {
  width: 30%;
  height: 60%;

  padding: 15px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
  align-items: center;

  background-color: white;
}

.img {
  object-fit: cover;
  object-position: center;

  border-radius: 15px;
}
